:root {
    /* text-align: center; */

}

html{
    height: 100vh;
    background:linear-gradient(to right, rgb(27, 27, 27) 50% , rgb(27, 27, 27) 50%);
}
/* body{
    margin: 0px;
    margin-top: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;
} */
