:root {
    text-align: center;
}

html{
    height: 100vh;
    background-color:rgb(32, 32, 32);
}
body{
    margin: 0px;
    margin-top: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;
}